
body {
	margin: 0;
	background-color: #ededed;
	font-family: "Proxima Nova", Helvetica Neue, Helvetica, Arial, sans-serif;
}

.header{
	height: 50px;
	text-align: center;
	/*margin-bottom: 5px;*/
	background-color: #303f9f;
	color: #ffffff;
	font-family: "Uberlin", Helvetica Neue, Helvetica, Arial, sans-serif;
}

.navbar {
	height: 60px;
}

.header h2{
	margin: 0;
	padding-top: 14px;
	height:26px;
	font-family: "Uberlin", Helvetica Neue, Helvetica, Arial, sans-serif;
}

.search-container{
	height: 50px;
	/*width: 1107px;*/
	/*display: inline-block;*/
	padding-left: 200px;
	background-color: #3367d6; 
	color: #ffffff;
	margin-bottom: 30px;
	-webkit-box-shadow: 0px 1px 5px 5px rgba(0,0,0,0.42);
    -moz-box-shadow: 0px 1px 5px 5px rgba(0,0,0,0.42);
	box-shadow: 0px 1px 5px 5px rgba(0,0,0,0.42);
}

.heading{
	width: 150px;
	display: inline-block;
}

.heading h3{
	margin: 0px;
	padding-top: 10px;
	font-family: Uberlin;
}

.search-form-container {
	display: inline-block;
	padding-top: 10px;
}

.search-form-container select, input, button{
    height: 33px;
    padding-left: 10px;
    margin-right: 20px;
    border-radius: 0;
    border-style: none;
}

.googleMap{
	height: 450px;
	width: 850px;
	display: inline-block;
	margin-left: 160px;
}

.ui-autocomplete{
	background-color: #EBEDED;
	width:100px;
	padding-left: 8px;
	padding-right: 8px;
	overflow-y: auto;
	overflow-x: auto;
	max-height: 200px;
	-webkit-box-shadow: 0px 4px 7px 2px rgba(163,163,163,1);
    -moz-box-shadow: 0px 4px 7px 2px rgba(163,163,163,1);
    box-shadow: 0px 4px 7px 2px rgba(163,163,163,1);
}

.ui-autocomplete li{
	list-style: inside none none;
	border-bottom:0px;
	border-top: 1px;
	border-left: 0px;
	border-right: 0px;
	border-style: solid;
	border-color: #BFBFBF;
	font-size: 14px;
	height: 25px;
	padding-top: 8px;
}

.search-field-box{
	color: #a6a6a6;
	width: 350px;
}

.info_content{
	max-height:130px;
	max-width: 300px;
}

.ui-helper-hidden-accessible{
	display: none;
}
