
body {
	margin: 0;
	background-color: #ededed;
	font-family: "Proxima Nova", Helvetica Neue, Helvetica, Arial, sans-serif;
}

.header{
	height: 50px;
	text-align: center;
	/*margin-bottom: 5px;*/
	background-color: #303f9f;
	color: #ffffff;
	/*font-family: "SF Atarian System", Helvetica Neue, Helvetica, Arial, sans-serif;*/
}

.navbar {
	height: 60px;
}

.header h2{
	margin: 0;
	padding-top: 2px;
	height:40px;
	font-family: "A Love of Thunder", Helvetica Neue, Helvetica, Arial, sans-serif;
	font-size: 35px;
}

.search-container{
	height: 55px;
	background-color: #3367d6; 
	color: #ffffff;
	margin-bottom: 30px;
	align-content: center;
	-webkit-box-shadow: 0px 1px 5px 5px rgba(0,0,0,0.42);
    -moz-box-shadow: 0px 1px 5px 5px rgba(0,0,0,0.42);
	box-shadow: 0px 1px 5px 5px rgba(0,0,0,0.42);
}

.heading{
	width: 105px;
	display: inline-block;
	margin-right: 10px
}

.heading h3{
	margin: 0px;
	padding-top: 10px;
	font-family:"Uberlin" ;
}

.inner-search-container{
	width:785px;
	margin: 0 auto; 
}

.search-form-container {
	display: inline-block;
	padding-top: 10px;
}

.search-form-container select, button{
    height: 33px;
    padding-left: 10px;
    margin-right: 20px;
    /*border-radius: 0;*/
    border-style: none;
}

.search-form-container select{
	border-radius: 0;
}

.search-form-container button{
	border-radius: 20px;
	background-color: #FAFAFA;
	-webkit-box-shadow: 0px 0px 8px 2px rgba(0,4,10,1);
    -moz-box-shadow: 0px 0px 5px 1px rgba(0,4,10,1);
	box-shadow: 0px 0px 5px 1px rgba(0,4,10,1);
}

.search-form-container input{
    height: 33px;
    padding-left: 20px;
    margin-right: 20px;
    border-style: none;
    border-radius: 0;
}

.no-location-found {
	text-align: center;
}

.no-location-found h3{
	margin-top: 2px;
	margin-bottom: 5px;
	color: #DE0025;
}

.googleMap{
	height: 450px;
	width: 850px;
	display: inline-block;
	margin-left: 160px;
}

.ui-autocomplete{
	background-color: #EBEDED;
	width:100px;
	padding-left: 8px;
	padding-right: 8px;
	overflow-y: auto;
	overflow-x: auto;
	max-height: 200px;
	-webkit-box-shadow: 0px 4px 7px 2px rgba(163,163,163,1);
    -moz-box-shadow: 0px 4px 7px 2px rgba(163,163,163,1);
    box-shadow: 0px 4px 7px 2px rgba(163,163,163,1);
}

.ui-autocomplete li{
	list-style: inside none none;
	border-bottom:0px;
	border-top: 1px;
	border-left: 0px;
	border-right: 0px;
	border-style: solid;
	border-color: #BFBFBF;
	font-size: 14px;
	height: 25px;
	padding-top: 8px;
}
.search-field-box{
	color: #E8E8E8;
	width: 350px;
	border-radius: 15px;
	background-color: 3367d6;
	-webkit-box-shadow: inset 0px 0px 28px -4px rgba(0,4,10,1);
    -moz-box-shadow: inset 0px 0px 28px -4px rgba(0,4,10,1);
	box-shadow: inset 0px 0px 28px -4px rgba(0,4,10,1);
}

.info_content{
	max-height:130px;
	max-width: 300px;
}

.ui-helper-hidden-accessible{
	display: none;
}
